<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
        <th scope="col" sortable="runtimeMinutes" (sort)="onSort($event)"><span class="float-right">Runtime (Minutes)</span></th>
        <th scope="col" sortable="releaseYear" (sort)="onSort($event)"><span class="float-right">Year Released</span></th>
        <th scope="col" sortable="averageRating" (sort)="onSort($event)">Average Rating</th>
        <th scope="col" sortable="votes" (sort)="onSort($event)"><span class="float-right">Number of Votes</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let thisMovie of movies" (click)="showMovie(thisMovie)">
        <td>{{thisMovie.title}}</td>
        <td><span class="float-right">{{thisMovie.runtimeMinutes}}</span></td>
        <td><span class="float-right">{{thisMovie.releaseYear}}</span></td>
        <td><star-rating [showHalfStars]="true" [starType]="'svg'" [rating]="thisMovie.averageRating"></star-rating></td>
        <td><span class="float-right">{{thisMovie.votes | number}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
