<div class="container">
  <div class="panel panel-primary">
    <div class="row border-bottom pb-0 mb-3">
      <div class="col-md-12">
        <h1>{{ movie.title }}</h1>
        <input hidden="hidden" [tabIndex]="1" />
      </div>
    </div>

    <div class="row pb-0 mb-3">
      <div class="col-md-5">
        <img src="{{ posterUrl }}">
      </div>
      <div class="col-md-7">
        <div class="row pt-0 mt-4 pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            ID
          </div>
          <div class="col-md-8">
            {{movie.id}}
          </div>
        </div>
        <div class="row pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            Released
          </div>
          <div class="col-md-8">
            {{movie.releaseYear}}
          </div>
        </div>
        <div class="row pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            Genre
          </div>
          <div class="col-md-8">
            {{movie.genre}}
          </div>
        </div>
        <div class="row pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            Runtime
          </div>
          <div class="col-md-8">
            {{movie.runtimeMinutes}}
          </div>
        </div>
        <div class="row pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            Average Rating
          </div>
          <div class="col-md-8">
            <star-rating class="float-left" [readOnly]="true" [size]="'medium'" [showHalfStars]="true" [starType]="'svg'" [rating]="movie.averageRating"></star-rating>
          </div>
        </div>
        <div class="row pb-0 mb-2">
          <div class="col-md-4 font-weight-bold">
            Votes
          </div>
          <div class="col-md-8">
            {{movie.votes | number}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer pt-3">
  <button type="button" [disabled]="seenThisMovie" class="btn btn-primary">Mark as Watched</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>
